*
	box-sizing: border-box

html
	background-color: #f5f5f5
	color: #2d2926
	font-family: monospace
	font-size: 1.3rem
	line-height: 1.3

body
	margin: 2.5rem auto
	max-width: 60ch
	padding: 0 1rem

footer
	margin-top: 5rem

h2,
h3,
h4,
h5,
h6
	margin-top: 3rem

p
	margin: 1rem 0

code
	color: #f5f5f5
	background-color: #2d2926

blockquote
	font-style: italic
	border: thin solid black
	padding: 1rem 0

	p
		margin: 0

img
	max-width: 100%

a
	color: currentColor

	&.link--home
		display: block
		font-size: 2.5rem
		font-weight: bold